// colors | WCAG Contrast Ratio (+4.5)

$lightGreen: #a6ce8a; // middleGreen (3.67) | darkGreen(4.91) | lightGray (1.08) | darkGray (8.87)
$middleGreen: #216956; // lightgreen (3.67) | darkGreen(1.34) | lightGray (3.98) | darkGray (2.42)
$darkGreen: #20534e; // lightgreen (4.91) | middleGreen (1.34) | lightGray (5.32) | darkGray (1.81)

$lightGray: #c5ccc5; // lightgreen (1.08) | middleGreen (3.98) | darkGreen (5.32) | darkGray (9.62)
$darkGray: #222323; // lightgreen (8.87) | middleGreen (2.42) | darkGreen (1.81) | lightGray (9.62)

// COLOR COMBINATIONS (BACKGROUND - BUTTON - TEXT)

// lightGreen + DarkGreen || lighGreen + DarkGray || LightGray + DarkGreen || LightGray + DarkGray

// DarkGreen - lightGrey - DarkGray
// DarkGray - lightGrey - DarkGreen
// DarkGreen - lightGreen - DarkGray
// DarkGray - lightGreen - DarkGreen

// lightgreen - DarkGray - lightGray
// lightGray - DarkGray - lightGreen
// lightgreen - DarkGreen - lightGray
// lightGray - DarkGreen - lightGreen


// Sorteio

$sorteio_white: #E7E6E4;
$sorteio_black: #1C1A1D;
$sorteio_gold: #E4BF75;
$sorteio_darkGreen: #233937;
$sorteio_lightGreen: #49AF66;